.box_booking_2 .main ul li span,
.sign_up .main ul li span {
  float: left;
}
.box_booking_2 .form-group input,
.sign_up .form-group input {
  padding-right: 10px;
  padding-left: 40px;
}
.box_booking_2 .form-group i,
.sign_up .form-group i {
  right: auto;
  left: 3px;
}

.box_booking_2.style_2 .head {
  text-align: right;
  padding: 15px 25px 12px 20px;
}
.box_booking_2.style_2 .form-group input {
  padding-left: 10px;
}

.payment_select i {
  float: left;
}
.payment_select#paypal {
  background: #f0f0f0 url(../img/paypal_2.svg) 15px center no-repeat;
}
