.search_bar input[type='text'] {
  padding-right: 15px;
}
.search_bar input[type='submit'] {
  right: auto;
  left: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
