.list_articles ul li {
  float: right;
  margin-right: 0;
  margin-left: 45px;
}
.list_articles ul li a:hover {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
.list_articles ul li i {
  margin-right: 0;
  margin-left: 10px;
  float: right;
}
@media (max-width: 991px) {
  .list_articles ul li {
    margin-left: 0;
  }
}

.search_bar input[type='text'] {
  padding-left: 0;
  padding-right: 15px;
}
.search_bar input[type='submit'] {
  right: auto;
  left: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
