/*Why*/
.box_about .arrow_1, .box_about .arrow_2 {
  right: auto;
  left: 0;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
  /*IE*/
}
.box_about .arrow_2 {
  left: auto;
  right: 0;
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -ms-filter: none;
  /*IE*/
  filter: none;
  /*IE*/
}
