
@import 'variables';
@import 'mixin';

.box_booking .main ul li a {
    padding-left: 0;
    padding-right: 30px;
}

.box_booking .main ul li span {
    float: left;
}

.box_booking .main ul li a:before {
    left: auto;
    right: 0;
}

/*-------- Menu list --------*/ 

.table.cart-list {

    td {

        figure {
            float: right;
            margin-right: 0;
            margin-left: 15px;
             @include mobile {
                float: none;
            }
        }

        .dropdown-menu {
            margin-left: 0;
            margin-right: -105px;
            @include tablet {margin-right: -205px;}
            ul {
                li label small{
                  float: left;
              }
            }
        }
    }

    
}

 #message {
     left: auto;
     right: 15px;
     padding: 12px 40px 10px 12px;
     &:before {
         left: auto;
         right: 10px;
     }
 }

