@import 'variables';
@import 'mixin';

.owl-theme.categories_carousel {
    .owl-nav {
        .owl-prev {
            left: auto;
            right: -48px;
        }

        .owl-next {
            right: auto;
            left: -56px;
        }

        .owl-prev i,
        .owl-next i {
            &:before {
                display: block;
                @include transform (rotate(180deg));
            }
        }
    }
}

.owl-theme.categories_carousel .item a, .item_version_2 a {
   span {
      right: auto;
      left: 15px;
    }
}


  #icon_drag_mobile{
    right: auto;
    left: 20px;
  }


.list_home {
    ul {
        li {
           a {
            padding:15px 225px 15px 15px;
            @include desktop {padding:15px 145px 15px 15px;}
            @include extra-small-mobile {padding: 145px 15px 15px 15px;min-height: inherit;}
            figure {
              @include border-radius(0 5px 5px 0);
              @include extra-small-mobile {@include border-radius(5px 5px 0 0);}
              left: auto;
              right: 0;
            }
            .score {
              right: auto;
              left: 10px;
            }
            ul {
               li {
                margin: 0 0 0 5px;
              }
            }
        }
      }
    }
}