@import 'variables';
@import 'mixin'; 

.leaflet-popup-content {
    text-align: right;
    span.infobox_rate {
        margin: -39px -20px 0 0;
        float: right;
        text-align: right;
    }
}