@import 'variables';
@import 'mixin';

.container_radio.version_2 .error, .container_check.version_2 .error {
    right: -15px;
    left: inherit;
}

.terms span.error {
    right: -15px;
    left: inherit;
}
